/****************************************
General
****************************************/

bod {
  font-family: 'Muli', sans-serif;
}



/****************************************
Heading
****************************************/

h {
  font-family: 'Pacifico', cursive;
}

h {
  font-family: 'Pacifico', cursive;
}




/****************************************
Navigation
****************************************/

section ul {
  list-style: none;
}