/****************************************
General
****************************************/

body {
  font-family: 'Muli', sans-serif;
}



/****************************************
Heading
****************************************/

#logo {
  text-align: center;
  margin: 0;
  text-decoration: none;
  color: #850274;
}

header {
  background: #fdfbb8;

h2 {
  font-family: 'Pacifico', cursive;
  font-size: 1.75em;
  font weight: normal;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 2.75em;


  font weight: normal;
}




/****************************************
Section
****************************************/

section {
  background: #fdfcdb;