/****************************************
General
****************************************/

body {
  font-family: 'Muli', sans-serif;
}

a {
  text-decoration: none;
}

div {
max width: 940px;
}



/****************************************
Heading   a5e8fc=lightblue 1c3e2d=murkydarkgreen
****************************************/

header {
  text-align: left;
  margin: 0;
  text-decoration: none;
  background: #a5e8fc;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 2.75em;
  font-weight: normal;
  margin: 0 0 0 2%;
  padding: 1%;
  color: #1c3e2d;
}

h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 1.75em;
  font-weight: normal;
  margin: 0 0 0 2%;
  padding: 0 0 1%;
  color: #1c3e2d;
}

nav {
  text-align: right;
  margin: 0 1%;
}

nav a {
  color: #1c3e2d;
}

nav a:hover {
  color: #fff;
}



/****************************************
Section    d6f3fc=verylightblue eef9fc=lighter
****************************************/

div {
  background: #eef9fc;
}

section {
  background: #d6f3fc;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

p {
  margin: 5px 0 5px 5px;
  color: #1c3e2d;
}

img {
  max-width: 100%;
}

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 28.33333%;
  margin: 2.5%;
  background-color: #d6f3fc;
}

#maingallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#maingallery li {
  float: left;
  width: 28.33333%;
  margin: 2.5%;
  background-color: #d6f3fc;
}

#maingallery a {
  opacity: 1.0;
}

#maingallery a:hover {
    opacity: 0.4;
}



/****************************************
Footer
****************************************/

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

