@media screen and (min-width:480px) {

/***************************************************
header
***************************************************/

  header {

    padding: 70px;
    background: linear-gradient(#eef9fc, transparent 20%),
                linear-gradient(0deg, #eef9fc, transparent),
                #a5e8fc url('../img/Iguana.JPG') no-repeat center;
  }

/***************************************************
Section
***************************************************/

  #gallery li {
    float: left;
    width: 28.33333%;
    margin: 2.5% 2.5% 5% 2.5%;
  }

/***************************************************
jQuery Stuff
***************************************************/

  #overlay {
    background: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    text-align: center;
  }

  #overlay img {
    margin: 10%;
  }

}




@media screen and (min-width:1030px) {

/***************************************************
Country Visit List
***************************************************/

  li > label {
    width: 237px;
  }

  li >  input[type="text"] {
    width: 226px
  }

//Need to make center for much larger screens

}