/***************************************************
Misc
***************************************************/
#wrapper {
	background: #0A0A0A;
  margin: 0 auto;
  max-width: 940px;
  padding: 0 5%;
  text-align: center;
}

a {
  text-decoration: none;
}

body {
	font-family: 'Open Sans', sans-serif;
}


/***************************************************
Heading
***************************************************/
header {
  background: linear-gradient(#0A0A0A, transparent 10%),
              linear-gradient(0deg, #0A0A0A, transparent),
              linear-gradient(90deg, #0A0A0A, transparent 5%),
              linear-gradient(270deg, #0A0A0A, transparent 5%),
              url('../img/WavyColours.jpg') no-repeat center;
  background-size: 100%;
  margin: 0 0 2.5% 0;
  padding: 10%;
}

h1 {
  color: #DDD;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  text-shadow:  1px 1px 1px #000, 2px 3px 10px #AAA;
}

h2 {
  color: #DDD;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  text-shadow:  1px 1px 1px #000, 2px 3px 20px #AAA;
}


/***************************************************
Body
***************************************************/
section h1 {
  color: #AAA;
  font-size: 1.5rem;
  text-shadow:  1px 1px 1px #000;
}

section li:nth-child(3n+1) {
  clear: left;
}

section{
  clear: both;
}

.logos {
  list-style: none;
}

.logos img {
  float: left;
  margin: 2.5%;
  width: 28.33333%;
}

.layout1, .layout2, .layout3 {
  border: 2px inset white;
  display: inline-block;
  float: center;
  height: 480px;
  margin: 5px;
  width: 320px;
}

.app-header {
  background: linear-gradient(#0A0A0A, transparent 10%),
              linear-gradient(0deg, #0A0A0A, transparent),
              url('../img/DiscoBall3.jpg') no-repeat center;
  background-size: 100%;
  color: #DDD;
  font-family: 'PT Sans Narrow', sans-serif;
  padding: 2%;
  text-align: left;
}

.app-header h1 {
  font-size: .75rem;
  letter-spacing: 0.5rem;
  margin: 2% 0 0 5%;
  text-shadow:  1px 1px 1px #000, 2px 3px 20px #AAA;
}

.app-header h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2% 0 2% 5%;
  text-shadow:  1px 1px 1px #000, 2px 3px 10px #AAA;
}


/***************************************************
Footer
***************************************************/
footer {
  clear: both;
  color: #CCC;
  font-size: 0.75rem;
  padding: 30px;
}